{
    "presets": [
        ["env", {
            "exclude": [
                "transform-regenerator",
                "transform-async-to-generator"
            ],
            "modules": false,
            "debug": true,
            "targets": {
                "node": 4
            }
        }]
    ],
    "plugins": [
        ["fast-async", {
            "spec": true
        }],
        ["transform-rename-import", {
            "original": "../../",
            "replacement": "../../src/"
        }],
        ["transform-rename-import", {
            "original": "makepromise",
            "replacement": "makepromise/es5/src/"
        }],
        ["transform-rename-import", {
            "original": "catchment",
            "replacement": "catchment/es5"
        }],
        ["transform-rename-import", {
            "original": "noddy",
            "replacement": "noddy/es5"
        }]
    ]
}
